services:
  api:
    image: dr-indigo-api
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
    env_file:
      - .env
    restart: unless-stopped
