

# Global options
--pre
--extra-index-url https://copilotkit.gateway.scarf.sh/simple

# Direct dependencies
git+https://github.com/mheindl-nh/ag-ui.git@main#egg=ag-ui-agent-framework&subdirectory=integrations/agent-framework/python
PyPDF2==3.0.1
copilotkit==0.1.70
fastapi==0.115.14
uvicorn==0.34.3